:root {
  --max-width: 600px;
  --width: 35vw;
  --min-width: 400px;
}

* {
  box-sizing: border-box;
  color: red;
}

body {
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.arcade {
  background-image: url(../assets/arcade.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  max-width: calc(var(--max-width) * 3);
  width: calc(var(--width) * 3);
  min-width: calc(var(--min-width) * 3);
  display: flex;
  justify-content: center;
  height: 100vh;
  right: 0;
}

.screen {
  background-image: linear-gradient(to bottom right, black 0%, #dbdbdb 25%, black 40%);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(var(--width) * 2);
  width: calc(var(--width) * 2);
  min-width: calc(var(--width) * 2);
  position: relative;
  top: 15vh;
  max-height: calc(var(--max-width) * 1.5);
  height: calc(var(--width) * 1.5);
  min-height: calc(var(--min-width) * 1.5);
}

.container {
  max-height: calc(var(--max-width) * 1.5);
  height: calc(var(--width) * 1.5);
  min-height: calc(var(--min-width) * 1.5);
}

.main {
  max-width: var(--width);
  width: var(--width);
  min-width: var(--min-width);
  position: relative;
}

.panels {
  max-width: calc(var(--max-width) * 0.5);
  width: calc(var(--width) * 0.5);
  min-width: calc(var(--min-width) * 0.5);
}

.game-over {
  display: none;
  padding: 1em;
  position: absolute;
  bottom: 30%;
  margin: 0 auto;
  background-image: linear-gradient(rgba(255, 0, 0, 0.9), rgba(255, 255, 0, 0.9));
  width: 70%;
  text-align: center;
  left: 0;
  right: 0;
  border: 2px solid black;
  box-shadow: 5px 5px 10px 4px lightblue;
}

h1 {
  display: none;
  font-family: 'Pixelify Sans', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 10em;
  position: absolute;
  bottom: 40%;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  left: 0;
  right: 0;
}

h2 {
  font-family: 'Pixelify Sans', sans-serif;
  color: black;
  font-size: 2em;
}

#right-panel {
  display: flex;
  justify-content: end;
}

.scores-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width);
  width: var(--width);
  min-width: var(--min-width);
  font-family: 'Pixelify Sans', sans-serif;
  padding: 0.5em;
  font-size: 1.5em;
}

.insert-coins {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #838383 0%, #e9e7e7 25%, #838383 40%);
  padding: 1em;
  border: 2px solid darkgrey;
  max-width: calc(var(--max-width) *0.3);
  max-height: calc(var(--max-width) *0.15);
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}

.payment {
  display: none;
  position: absolute;
  right: 0;
  background-image: url(../assets/payment.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 25px;
  animation-duration: 1s;
  animation-name: coinHover;
  animation-iteration-count: infinite;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 5px grey;
  font-size: 2em;
  color: black;
  padding: 0 1px;
  font-weight: bold;
}

.player-state {
  display: flex;
  justify-content: space-between;
  max-width: var(--width);
  width: var(--width);
  min-width: var(--min-width);
  padding: 0.5em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cell {
  color: transparent;
  user-select: none;
}

.floor {
  background-image: url('../assets/floor.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 3.3333333%;
}

.wall {
  background-image: url('../assets/wall-tile.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.coins {
  background-image: url('../assets/coin.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.powerUp {
  background-image: url('../assets/sword.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hearts {
  display: flex;
}

.life {
  background-image: url('../assets/heart-pixel.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20px;
  aspect-ratio: 1;
  margin: 0 0.2em;
}

.heart-broken {
  background-image: url('../assets/heart-broken.png');
}

.powerUpIcon {
  background-image: url('../assets/two-swords.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 600px;
  height: 20px;
  margin: 0 0.2em;
}

.hero {
  background-image: url('../assets/hero.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.beholder {
  background-image: url('../assets/beholder.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cube {
  background-image: url('../assets/cube.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lich {
  background-image: url('../assets/lich.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.spider {
  background-image: url('../assets/spider.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes coinHover {
  from {
    margin-left: 5px;
  }
  to {
    margin-right: 5px;
  }
}


@media screen and (max-width: 1200px) {
  .arcade {
    left: 0;
    position: absolute;
  }

  .screen {
    position: absolute;
    left: 200px;
  }

  .scores-container {
    font-size: 1em;
  }
}

@media screen and (min-width: 1500px) {
  .screen {
    top: 3vh;
  }
}